<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a routerLink="/problem-list" routerLinkActive="active">Problemas</a></li>
          <li><a routerLink="/project-list" routerLinkActive="active">Projetos</a></li>
          <li><a routerLink="/enterprise-edit" routerLinkActive="active">Empresa</a></li>
          <li><a routerLink="/user-edit" routerLinkActive="active">Usuário</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <!-- routing here -->
    <router-outlet></router-outlet>
  </div>
</div>