<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <div class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <a class="navbar-brand" routerLink="/">Evidências</a>
        </ul>
      </div>
    </div>
    <ul class="nav navbar-nav pull-right">
      <li *ngIf="!auth.getToken()"><a routerLink="/login" routerLinkActive="active">Entrar</a></li>
      <li *ngIf="auth.getToken()"><a routerLink="/login" routerLinkActive="active">Sair</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
  <div class="row-fluid">
    <div class="col-lg-2">
      <a class="nav-tabs-dropdown btn btn-block btn-primary">Menu</a>
        <ul id="nav-tabs-wrapper" class="nav nav-tabs nav-pills nav-stacked well">
          <li><a routerLink="/problem" routerLinkActive="active">Problema</a></li>
          <li><a routerLink="/project" routerLinkActive="active">Projeto</a></li>
          <li *ngIf="auth.isEnterprise()"><a routerLink="/enterprise/show/{{auth.getToken()}}" routerLinkActive="active">Empresa</a></li>
          <li *ngIf="!auth.getToken()"><a routerLink="/enterprise/create/" routerLinkActive="active">Cadastrar Empresa</a></li>
          <li *ngIf="auth.isUser()"><a routerLink="/user/show/{{auth.getToken()}}" routerLinkActive="active">Usuário</a></li>
        </ul>
      </div>
    <div class="col-lg-10" style="min-height: 530px;">
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      <div class="container text-center">
        <p class="text-muted">Projeto Evidências - Faculdade de Engenharia de Sorocaba - Engenharia de Software - 2016</p> 
      </div>
    </footer>
  </div>
</div>