<div class="page-header">
    <h2>
        Problema

        <a routerLink="/{{entry}}" class="btn btn-default btn-sm">
            <span class="glyphicon glyphicon-th-list"></span>
        </a>
        
        <a *ngIf="model._id" routerLink="/{{entry}}/show/{{model._id}}" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-eye-open"></span>
        </a>
    </h2>
</div>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    
    <div class="form-group col-lg-6">
        <label for="Name">Nome</label>
        <input type="text" class="form-control" formControlName="Name" [(ngModel)]="model.Name" placeholder="Nome" />
        <div class="alert alert-danger" [hidden]="(form.controls.Name.valid && submitted) || !submitted">
            {{ error.Name }}
        </div>
    </div>
    
    <div class="form-group col-lg-6">
        <label for="MaxCost">Custo Máximo</label>
        <input type="text" class="form-control" formControlName="MaxCost" [(ngModel)]="model.MaxCost" placeholder="1.450,00" />
        <div class="alert alert-danger" [hidden]="(form.controls.MaxCost.valid && submitted) || !submitted">
            {{ error.MaxCost }}
        </div>
    </div>

    <div class="form-group col-sm-12">
        <label for="Description">Descrição</label>
        <textarea rows="5" class="form-control" formControlName="Description" [(ngModel)]="model.Description" placeholder="Descrição"></textarea>
    </div>

    <div class="col-sm-12 row">
        <div formArrayName="Categories" class="form-group col-lg-6">
            
            <div>
                <label for="category">Categoria</label>
                
                <button type="button" class="btn btn-sm btn-success" (click)="addCategory(true)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                <button type="button" class="btn btn-sm btn-danger" *ngIf="form.controls.Categories.controls" (click)="delCategory()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>

            <div class="formArray" *ngFor="let item of form.controls.Categories.controls; let i=index">
                <div [formGroupName]="i">
                    <input type="text" class="form-control" placeholder="Categoria" [(ngModel)]="model.Categories[i]" formControlName="Category"/>
                    <div class="alert alert-danger" [hidden]="(form.controls.Categories.controls[i].controls.Category.valid && submitted) || !submitted">
                        {{ error.Categories[i].Category }}
                    </div>
                </div>
            </div>
        </div>

        <div formArrayName="Questions" class="form-group col-lg-6">
            
            <div>
                <label for="Question">Questões</label>
                
                <button type="button" class="btn btn-sm btn-success" (click)="addQuestions(true)">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                <button type="button" class="btn btn-sm btn-danger" *ngIf="form.controls.Questions.controls" (click)="delQuestions()">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>

            <div class="formArray" *ngFor="let item of form.controls.Questions.controls; let i=index">
                <div [formGroupName]="i">
                    <input type="text" class="form-control" placeholder="Questão" [(ngModel)]="model.Questions[i]" formControlName="Question"/>
                    <div class="alert alert-danger" [hidden]="(form.controls.Questions.controls[i].controls.Question.valid && submitted) || !submitted">
                        {{ error.Questions[i].Question }}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row col-sm-12">
        <div class="col-lg-3 col-lg-offset-3">
            <a class="btn btn-danger form-control" routerLink="/{{entry}}">Cancelar</a>
        </div>
        <div class="col-lg-3">
            <button type="submit" class="btn btn-success form-control">Salvar</button>
        </div>
    </div>
</form>