<div class="page-header">
    <h2>
        Projeto
        <a routerLink="/{{entry}}" class="btn btn-default btn-md">
        	<span class="glyphicon glyphicon-th-list"></span>
        </a>

        <a routerLink="/{{entry}}/form/{{model._id}}" class="btn btn-primary btn-sm">
            <span class="glyphicon glyphicon-edit"></span>
        </a>

        <button (click)="Delete(model._id)" class="btn btn-md btn-danger">
        	<span class="glyphicon glyphicon-trash"></span>
    	</button>
    </h2>
</div>

<div class="col-lg-12">
	<h4>
		<small>Nome</small>
	</h4>
	<h4>{{model.Name}}</h4>
</div>

<div class="col-lg-12">
	<h4>
		<small>Descrição</small>
	</h4>
	<h4>{{model.Description}}</h4>
</div>

<div class="col-lg-6">
	<h4>
		<small>Custo</small>
	</h4>
	<h4>{{model.Cost}}</h4>
</div>

<div class="col-lg-6">
	<h4>
		<small>Status</small>
	</h4>
	<h4>{{model.Status}}</h4>
</div>

<div class="col-lg-12">
	<h4>
		<small>Categoria</small>
	</h4>
	<h4>
		<ul *ngFor="let item of model.Categories"> 
			<li> {{item}} </li> 
		</ul>
	</h4>
</div>

<div class="col-lg-12">
	<table class="table table-striped" [mfData]="model.Team" #mf="mfDataTable" [mfRowsOnPage]="10">
	    <thead>
	    <tr>
	        <th style="width: 20%">
	            <mfDefaultSorter by="Name">Nome</mfDefaultSorter>
	        </th>
	        
	        <th style="width: 20%">
	            <mfDefaultSorter by="Age">Idade</mfDefaultSorter>
	        </th>
	    </tr>
	    </thead>
	    <tbody>
	    <tr *ngFor="let item of mf.data">
	        <td>{{item.Name}}</td>
	        <td>{{item.Age}}</td>
	    </tr>
	    </tbody>
	    <tfoot>
	    <tr>
	        <td colspan="4">
	            <mfBootstrapPaginator [rowsOnPageSet]="[5,10,25]"></mfBootstrapPaginator>
	        </td>
	    </tr>
	    </tfoot>
</table>
</div>