<div class="page-header">
    <h2>
        Usuário
        <a routerLink="/{{entry}}/form/{{getLoginId()}}" class="btn btn-primary btn-sm">
        	<span class="glyphicon glyphicon-edit"></span>
		</a>
    </h2>
</div>

<div class="col-lg-12">
	<h4>
		<small>Nome</small>
	</h4>
	<h4>{{model.Name}}</h4>
</div>

<div class="col-lg-7">
	<h4>
		<small>E-mail</small>
	</h4>
	<h4>{{model.Email}}</h4>
</div>

<div class="col-lg-5">
	<h4>
		<small>Idade</small>
	</h4>
	<h4>{{model.Age}}</h4>
</div>

<div class="col-lg-12">
	<h4>
		<small>Rua</small>
	</h4>
	<h4>{{model.Street}}</h4>
</div>

<div class="col-lg-12">
	<h4>
		<small>Cidade</small>
	</h4>
	<h4>{{model.City}} - {{model.State}}</h4>
</div>

<div class="col-lg-12">
	<h4>
		<small>Sobre</small>
	</h4>
	<h4>{{model.About}}</h4>
</div>
