<div class="page-header">
    <h2>
        Empresa
        
        <a routerLink="/{{entry}}/form/{{getLoginId()}}" class="btn btn-primary btn-sm">
        	<span class="glyphicon glyphicon-edit"></span>
        </a>
    </h2>
</div>

<div class="col-lg-12">
	<h4>
		<small>Nome</small>
	</h4>
	<h4>{{model.Name}}</h4>
</div>

<div class="col-lg-6">
	<h4>
		<small>CNPJ</small>
	</h4>
	<h4>{{model.CNPJ}}</h4>
</div>

<div class="col-lg-6">
	<h4>
		<small>Site</small>
	</h4>
	<h4>{{model.Website}}</h4>
</div>

<div class="col-lg-12">
	<h4>
		<small>Descrição</small>
	</h4>
	<h4>{{model.Description}}</h4>
</div>

<div class="col-lg-12">
	<h4>
		<small>Login</small>
	</h4>
	<h4>{{model.Login}}</h4>
</div>

<div class="col-lg-12">
	<h4>
		<small>Categoria</small>
	</h4>
	<ul *ngFor="let item of model.Categories">
		<li><h4>{{item}}</h4></li> 
	</ul>
</div>

<div class="col-lg-12" *ngIf="this.model.Problems && this.model.Problems.lenght > 0">
	<table class="table table-striped" [mfData]="model.Problems" #mf="mfDataTable" [mfRowsOnPage]="5">
	    <thead>
	    <tr>
	        <th style="width: 20%">
	            <mfDefaultSorter by="Name">Nome</mfDefaultSorter>
	        </th>
	        <th style="width: 50%">
	            <mfDefaultSorter by="Description">Descrição</mfDefaultSorter>
	        </th>
	        <th style="width: 10%">
	            <mfDefaultSorter by="Cost">Custo</mfDefaultSorter>
	        </th>
	    </tr>
	    </thead>
	    <tbody>
	    <tr *ngFor="let item of mf.data">
	        <td>{{item.Name}}</td>
	        <td>{{item.Description}}</td>
	        <td>{{item.Cost}}</td>
	    </tr>
	    </tbody>
	</table>
</div>